* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

a:hover {
    color: rgb(243, 34, 6);
}